#grad1{
	background-color:#FA87D7;
	background-image: linear-gradient(#FA87D7, #D2B4DE);
}
body{
	background-color:#FA87D7;
	font-family:Comic Sans MS;
}
h1{
			color:#82E0AA;
			font-size:69px;
			text-decoration:underline;
		}
#first{
	font-size:90px;
}
.small{
	font-size:12px;
}
h2{
	color:white;
	font-size:22px;
}
span{
	font-family:"Comic Sans MS";
}
h2 span{
	text-decoration: line-through;
}
