body{
	background-color:#33ccff;
	font-family:Papyrus;
	background-image: url(Kanye.jpg);
}
div{
	text-align:center;
}
p{
	font-size:40px;
}
h1{
	color:;
	font-size:70px;
}
h2{
	font-size:60px;
}
rapper{
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
li{
	text-align:center;
	font-size:40px;
}
.wrapper{
	margin-right: auto;
  margin-left:  auto; 

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px; 
}
